@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

/* Reset  */

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

/* Main Styling  */

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utilitie Classes */

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.lg-heading {
  font-size: 40px;
}

.text-primary {
  color: #ffb164;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #ffb164;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background-color: #333333;
  color: #fff;
}

.bg-light {
  background-color: #f8f9fa;
  color: #333333;
}

.bg-primary {
  background-color: #ffb164;
  color: #333;
}

/* Navbar */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style-type: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar a:hover,
#navbar a.current {
  background: #444;
  color: #ffb164;
}

/* Showcase */
#showcase {
  /* background: url('../img/palm-trees-at-night-258154.jpg') no-repeat center
    center/cover; */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url('../img/palm-trees-at-night-258154.jpg') no-repeat center center/cover;
  height: 570px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 70px;
  line-height: 1.3em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Home info */
#home-info {
  height: 400px;
  display: flex;
  justify-content: center;
}

#home-info .info-img {
  width: 50%;
  background: url('../img/photo-1.jpg') no-repeat center center/cover;
  min-height: 100%;
  overflow: hidden;
}

#home-info .info-content {
  width: 50%;
  padding: 50px 30px;
  text-align: center;

  color: #fff;
  overflow: hidden;
}

#home-info .info-content p {
  margin-bottom: 30px;
}

/* Features */

#features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  text-align: center;

  padding: 30px;
}

.box i {
  margin-bottom: 20px;
}

/* About */

#about-info .container {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

#about-info .info-right img {
  width: 70%;
  display: block;
  margin: auto;
  float: right;
  border-radius: 50%;
  flex: 1;
}

.info-left p {
  width: 120%;
  text-align: justify;
}

#testimonials {
  padding-top: 30px;
}

/* Testimonials */

#testimonials {
  height: 600px;
  background: url('../img/test-bg.jpg') no-repeat center center/cover;
  padding-top: 40px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 20px;
  height: 100px;
  border-radius: 10px;
  opacity: 0.8;
}

#testimonials .container {
  padding-top: 40px;
}

#testimonials h2 {
  color: white;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 30px;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Contact Form */

#contact-form .form-group {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
  resize: none;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

#contact-form .container {
  padding-top: 30px;
}

/* Footer */

#main-footer {
  text-align: center;
  background: #444;
  color: white;
  padding: 20px;
}

#contact-info-footer {
  display: flex;
  justify-content: center;
}

#contact-info-footer div {
  flex: 1;
}
